<footer>
  <div class="container">
    <p>&copy; {{ site.time | date: '%Y' }} - {{ site.title }}</p>

    <!-- Social Media Links -->
    <ul>
      <li><a href="{{ site.github_url }}">GitHub</a></li>
      <li><a href="{{ site.twitter_url }}">Twitter</a></li>
      <li><a href="{{ site.facebook_url }}">Facebook</a></li>
      <!-- Add other social links as needed -->
    </ul>
    <div class="row">
      <div class="col-md-6">
        <p>© 2023 Cybersecurity Club. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <ul class="footer-links">
        <!--**********************************************************************
            <li><a href="{{ site.baseurl }}{% link about.md %}">About</a></li>
          <li><a href="{{ site.baseurl }}{% link blog.md %}">Blog</a></li>
          <li>
            <a href="{{ site.baseurl }}{% link resources.md %}">Resources</a>
          </li>
          <li><a href="{{ site.baseurl }}{% link events.md %}">Events</a></li>
        ************************************************************************-->
        </ul>
      </div>
    </div>
  </div>
</footer>
